Ejercicios.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<ciudad>Roma</ciudad>
<fecha-de-nacimiento>1996-12-18</fecha-de-nacimiento>
<hora>18:29:45</hora>
<nota>7.5</nota>
<apto>true</apto>

<xs:element name="ciudad" type="xs:string" />
<xs:element name="fecha-de-nacimiento" type="xs:date" />
<xs:element name="hora" type="xs:time" />
<xs:element name="nota" type="xs:integer" />
<xs:element name="apto" type="xs:boolean0" />
